.sec {
  position: relative;
  padding: 100px;
  background: #1c0522;
  color: #b7c4c8;


  h2 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  p {
    font-size: 20px;
    margin-bottom: 15px;
  }
}
