@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');

.App-header {
  font-family: 'Rubik Vinyl', cursive;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  color: antiquewhite;
  z-index: 1000;

  .logo {
    color: antiquewhite;
    text-decoration: none;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }

  li {
    list-style: none;
    margin-right: 10px;
    a {
      font-size: 18px;
      color: antiquewhite;
      text-decoration: none;
      padding: 5px 10px;
      border-radius: 10px;
    }

    a:hover, a.active {
      background: antiquewhite;
      color: #2b1055;
    }
  }
}



//@media (prefers-reduced-motion: no-preference) {
//  .App-logo {
//    animation: App-logo-spin infinite 20s linear;
//  }
//}

//.App-header {
//  //background-color: #282c34;
//  //min-height: 100vh;
//  //display: flex;
//  //flex-direction: column;
//  //align-items: center;
//  //justify-content: center;
//  //font-size: calc(10px + 2vmin);
//  //color: white;
//}
//
//.App-link {
//  //color: #61dafb;
//}
//
//@keyframes App-logo-spin {
//  //from {
//  //  transform: rotate(0deg);
//  //}
//  //to {
//  //  transform: rotate(360deg);
//  //}
//}
